body {
    background-image: url("img/julia-caesar-15080-unsplash.jpg");
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

.screen {
  display:grid;
  grid-template-rows: repeat(2, 1fr)
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 15px;

}

/*.navbar{
  background-color: #b5b5b7;
  padding: 10px;
/*  overflow: hidden;*/
}*/

.container{
  display: flex;
  align-items: center;
}

#brand{
  font-size: 1.5em;
  float: left;
  padding: 30px 15px 0px 15px;
  line-height: 10px;
  
}

.search{
  grid-row-start:2;
  padding: 120px 0px 25px 30px;
  margin: 10px;
 }

.footer{
  grid-row-start:3;
}


a {
  text-decoration: none;
}

h1{
  color: white;
}

p{
  color:black;
  font-family: 'Raleway', sans-serif;
  text-align:right;
}

.header-container {
 display: flex;
 flex-direction: column;
 border-bottom: 1px solid #F2F2F2;
 padding: 2.3em 0;
}
.logo {
 margin-left: 5%;
}
.logo img {
 display: block;
}
nav {
 margin: 1.5em 0 0 5%;
}
header ul li {
 display: inline-block;
 padding: 0 1.4em 0 0;
 font-size: 0.9em;
}
header ul li a {
 text-decoration: none;
 color: #7D7C7D;
}
li a.active {
 color: #000000;
 border-bottom: 2px solid #000000;
 font-weight: 300;
}
li a:hover {
 color: #B6B6B6;
}

@media screen and (min-width : 600px) {
 .header-container {
   flex-direction: row;
   justify-content: space-between;
 }
 .logo {
   margin-left: 2.3em;
 }
 nav {
   align-self: center;
   margin: 0 0.8em 0 0;
 }
}
