body {
    background-image: url("img/julia-caesar-15080-unsplash.jpg");
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
   
}

.screen {
  display:grid;
  grid-template-rows: repeat(2, 1fr)
  grid-template-columns: repeat(2, 1fr)

}

.search{
  grid-row-start:2;
  padding: 30px 0px 25px 30px;
  margin: 10px;
 }

.footer{
  grid-row-start:3;
  padding: 30px 45px 0px 0px;
}


a {
  text-decoration: none;
}

h1{
  color: blue;
}

p{
  color:black;
  font-family: 'Raleway', sans-serif;
  text-align:right;
}

.header-container {
 display: flex;
 flex-direction: column;
 padding: .7em 0;
 font-size: 18px;
}
.logo {
 margin-left: 5%;
}
.logo img {
 display: block;
}
nav {
 margin: 1.5em 0 0 5%;
}
header ul li {
 display: inline-block;
 padding: 0 1.4em 0 0;
 font-size: 0.9em;
}
header ul li a {
 text-decoration: none;
 color: #7D7C7D;
}

li a:hover {
 color: #B6B6B6;
}

@media screen and (min-width : 600px) {
 .header-container {
   flex-direction: row;
   justify-content: space-between;
 }
 .logo {
   margin-left: 2.3em;
 }
 nav {
   align-self: center;
   margin: 0 0.8em 0 0;
 }
}

.container-1{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: grey;
}

.container-1 button.icon{

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-1:hover button.icon, .container-1:active button.icon, .container-1:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
 
  .container-1:hover button.icon:hover{
    background: white;
  }

.sing_in{
  background-color: #fc5b7d;
  padding: 12px;
}